<center>

<p>Jeu d'échec</p>

<table id="board" style="border: 1px solid black;">
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>

</center>

<!--
<script src = " /socket.io/socket.io.js"></script>


<script type="module" src="../js/Pieces/Piece.js"></script>
<script src="../js/Pieces/Roi.js"></script>
<script src="../js/Pieces/Fou.js"></script>
<script src="../js/Pieces/Pion.js"></script>
<script src="../js/Pieces/Reine.js"></script>
<script src="../js/Pieces/Tour.js"></script>
<script src="../js/Pieces/Cavalier.js"></script>
<script src="../js/Plateau.js"></script>
<script src="../js/renderCss.js"></script>
<script src="../js/Jeu.js"></script>
<script data-main="../js/Jeu" src="../js/require.js"></script>
-->
<script src="/socket.io/socket.io.js"></script>

<script src="../js/Pieces/Piece.js"></script>
<script src="../js/Pieces/Roi.js"></script>
<script src="../js/Pieces/Pion.js"></script>
<script src="../js/Pieces/Fou.js"></script>
<script src="../js/Pieces/Reine.js"></script>
<script src="../js/Pieces/Tour.js"></script>
<script src="../js/Pieces/Cavalier.js"></script>

<script src="../js/Plateau/Case.js"></script>
<script src="../js/Plateau/Plateau.js"></script>

<script src="../js/Jeu.js"></script>

