<center>

<p>Jeu d'échec</p>

<table id="board" style="border: 1px solid black;">
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>

</center>

<!--
<script src = " /socket.io/socket.io.js"></script>
-->
<script src="../../server_modules/Pieces/Piece.js"></script>
<script src="../../server_modules/Pieces/Roi.js"></script>
<script src="../../server_modules/Pieces/Fou.js"></script>
<script src="../../server_modules/Pieces/Pion.js"></script>
<script src="../../server_modules/Pieces/Reine.js"></script>
<script src="../../server_modules/Pieces/Tour.js"></script>
<script src="../../server_modules/Pieces/Cavalier.js"></script>
<script src="../js/Plateau.js"></script>
<script src="../js/renderCss.js"></script>
<script src="../js/Jeu.js"></script>