<head>
    <title>Echecs</title>
    <!-- Include des fichiers de style -->
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../css/Jeu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
</head>
<body>
    
    <div class = "AquiDejouer">
        <h1 class = "ecriture_titre">
            C'est aux <span id = "AquiDejouer">blancs</span> de jouer !
        </h1>
    </div>

    <div class = "fenetre_coups">
        <div class="navbar">
            <a class="ecriture_coups">coups blanc: </a>
            <a class="ecriture_coups_noir">coups noir:</a>
        </div>
        <div class="container scstyle-10 sc-overflow">
            <article>
                <div class="coups_blanc"  id = "coups_blanc">
                </div>
                <div class="coups_noir" id = "coups_noir">
                </div>
            </article>
        </div>
        <form>
            <input  class = "chrono" type=text name=Text_1 value=00:00>
        </form>
    </div>
    
    <div id="choix_piece" class="modal">
        <center>
            <h2 class="ecriture_choix_piece">Choisissez votre piece :</h2>
            <button type="button" class="btn btn-default btn-sm" id="bouton_reine">
                <i class="fas fa-chess-queen"></i>
            </button>
            <button type="button" class="btn btn-default btn-sm" id="bouton_fou">
                <i class="fas fa-chess-bishop"></i>
            </button>  
            <button type="button" class="btn btn-default btn-sm" id="bouton_chevalier">
                <i class="fas fa-chess-knight"></i>
            </button>
            <button type="button" class="btn btn-default btn-sm" id="bouton_tour">
                <i class="fas fa-chess-rook"></i>
            </button>
        </center>
    </div>

    <div id="attente" class="modal">
        <center>
            <h1>Attente d'un adversaire, veuillez patienter.</h1>
        </center>
    </div>

    <div id="popup" class="modal">
        <center>
            <h1 id="contenu-popup">Erreur.</h1>
        </center>
        <p>Vous allez être redirigé vers le menu dans 5 secondes.</p>
    </div>

</body>
<footer>
    <!-- Includes de threeJs et des librairies utilisées -->
    <script src="../js/libs/three.min.js"></script>
    <script src="../js/libs/OrbitControls.js"></script>
    <script src="../js/libs/OBJLoader.js"></script>
    <script src='../js/libs/tween.js'></script>

    <!-- Includes de JQuery et les plugins liés -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <!-- jQuery Modal Plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>

    <!-- Include de Socket.io -->
    <script src="/socket.io/socket.io.js"></script>
    
    <!-- Include d'autres codes repris et réadaptés -->
    <script src="../js/libs/getParams.js"></script>
    <script src="../js/libs/Chrono.js"></script>

    <!-- Include du RenduThreeJS -->
    <script type="application/javascript" src="../js/Rendu/Rendu3D.js"></script>
    <script type="application/javascript" src="../js/Rendu/Click.js"></script>
    <!-- Include de l'HUD -->
    <script type="application/javascript" src="../js/Hud/Game.js"></script>

    <!-- Include des fichiers de gestion du jeu -->
    <script src="../js/Modules/Roque.js"></script>
    <script src="../js/Jeu.js"></script>
</footer>
