.Info {
position:absolute;
margin-top:6%;
margin-left: 40%;
width: 20%;
}

body {
    background-image:url(https://i.pinimg.com/originals/26/fa/98/26fa985762aec6265286c749831c4cb7.jpg);
    margin:0;
    color:black;
    background-color:white;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size: cover;
    overflow: hidden;
}
    
.ecriture{
    color: beige;
    font-size: 1vw;
}
.ecriture_titre{
    color: beige;
    font-size: 3vw;
    margin-top: 2%;
    font-family: monospace;
}
#play{
    margin-top: 3%;
}
.btn{
margin-top: 2%;
}
.piece_formulaire{
    margin-top: 2%;
}
.tableau_score{
    margin-left: 5%;
    height : 50%;
    width : 20%;
    position: absolute;
    z-index: 2;
}
.btn_tableau{
    width: 100%;
}
.ia_check{
    margin-top: 3%;
    background-color:#343A40;
    width: 16%;
}